.App {
  background-color: #C11B1B;
}

.chart {
  float: left;
  padding: 10px;
  border: solid;
  border-radius: 25px;
  border-color: #C11B1B;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  margin: 25px;
}

.chart-details {
  float: right;
  padding: 10px;
  border: solid;
  border-radius: 25px;
  border-color: #FFFFFF;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  padding-top: 20px;
  padding-right: 20px;
  margin-right: 225px;
  font-size: 22px;
}

.selected-name {
  text-align: center;
  color: #FFFFFF;
}

.selected-value {
  text-align: center;
  border: 1px solid;
  margin: 15px;
  border-radius: 25px;
}

.selected-percent {
  text-align: center;
  border: 1px solid;
  margin: 15px;
  border-radius: 25px;
  border-color: #C11B1B;
  background-color: #FFFFFF;
  color: #000000;
}

@media only screen and (max-width: 880px) {
    .chart {
      height: 400px;
    }
    .chart-details {
      height: 400px;
      font-size: 14px;
    }
    .pie {
      padding-top: 9px;
    }
}

@media only screen and (max-width: 425px) {
    .chart {
      height: 250px;
    }
    .chart-details {
      height: 250px;
      font-size: 7px;
    }
    .pie {
      padding-top: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .pie {
      padding-top: 39px;
    }
}